.outer_container {
  display: flex;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 0;
  padding: 21px 16px 16px 16px;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  border-top-style: solid;
  border-width: 2px;
  border-color: blueviolet;
  justify-content: center;
}

.inner_container {
  max-width: 960px;
}

.footer_social {
  margin-top: 6rem;
  margin-bottom: 5rem;
}

.link_styles {
  color: #fff;
}

.link_styles:hover {
  color: blueviolet;
}

.blueViolet {
  color: blueviolet;
}

.blueViolet:hover {
  color: white;
}

@media (max-width: 550px) {
  .jumbo_social i {
    font-size: 1.4rem;
  }
}
