a {
  text-decoration: none;
  color: "#fff";
}

.footer_social {
  color: #fff;
}

.footer_social {
  display: flex;
  justify-content: space-between;
  padding: 0rem 2rem;
  max-width: 100%;
  margin-top: 4rem;
}

.footer_social i {
  font-size: 2rem;
  color: #fff;
}

a:link {
  color: white;
}

.hover_effect:hover {
  color: blueviolet;
}

.link_styles {
  color: #fff;
}

.link_styles:hover {
  color: blueviolet;
}

.blueViolet {
  color: blueviolet;
}

.blueViolet:hover {
  color: white;
}

@media (max-width: 550px) {
  .jumbo_social i {
    font-size: 1.4rem;
  }
}
