.hover_effect:hover {
  color: blueviolet;
}

.summary_content {
  max-width: 960px;
  margin-bottom: 2.5rem;
}
.summary_title {
  font-size: 1.9rem;
  font-weight: 580;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.tech_icons i {
  font-size: 3.5rem;
}

.tech_icons span {
  font-size: 1.5rem;
}

.goal_text {
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-weight: 590;
  background-color: blueviolet;
  color: white;
  padding: 16px 16px;
  box-shadow: 16px 16px 1px 0 pink;
  margin-right: 16px;
}

.summary_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.summary_col {
  padding: 0rem 2rem;
  width: 50%;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .summary_col {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .tech_icons i {
    font-size: 2.5rem;
  }

  .tech_icons span {
    font-size: 1.3rem;
  }

  .goal_text {
    font-size: 1.35rem;
  }
}
