.container {
  padding: 16px 16px;
  font-size: 1.3rem;
}

.titleWrapper {
  width: 100%;
  padding: 16px 16px;
  border-radius: 4px;
  text-align: center;
}

.titleWrapper h2 {
  font-size: 3rem;
}

.subtitleWrapper {
  padding: 16px 16px;
  margin-bottom: 1rem;
  border-left-style: solid;
  border-left-color: blueviolet;
  border-left-width: 5px;
  background-color: #f1f1f1;
}

.subtitleWrapper h2 {
  color: black;
}
